ALLOWED_HOSTS = ['10.2.0.11']

DEBUG = False

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': "{{ mysql_database_name }}",
        'USER':  "{{ mysql_user }}",
        'PASSWORD': "{{ mysql_password }}",
        'HOST': "{{ mysql_host }}",
        'PORT': "{{ mysql_port }}",
    }
}
